/Data/test/old/*
/Data/test/new/*
/Data/train/0/*
/Data/train/1/*
/Data/validation/0/*
/Data/validation/1/*
/Data_source/all_data/*
/image/*
/Data_source/*
!/Data_source/all_data
/Data_source/all_data/background/*
/Data_source/all_data/beh-ID/*
/Data_source/all_data/new-shen/*
/Data_source/all_data/old-shen/*
/Data_source/all_data/rangi/*
.idea/
/checkpoints/*
.xls